/* Styles pour les menus mixtes (déroulants + social) */
/*
.nav-mixed .multi-level-nav ul {
    background-color: tomato;
}

.nav-mixed .social-menu ul {
    background-color: aqua;
}*/

.nav-mixed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: hsl(0, 0%, 15%);
}



